html {
    box-sizing: border-box;
  }
  *, 
  *::after, 
  *::before{
    box-sizing: inherit;
    font: inherit;
    margin: 0;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }